<nav>
    <h3 style="margin-top:0;">JSS Web Tool</h3>
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="generate-key">Generate Key</NavLink>
    <NavLink href="sign">Sign</NavLink>
    <NavLink href="verify">Verify</NavLink>
    <a href="https://github.com/coderpatros/dotnet-jss" target="_blank">Project on GitHub</a>
</nav>
